<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>My Store</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {{!-- 
    common
    <header> </header>

    common
    <div class="leftMenu"> </div> --}}

    {{!-- changes dynamically --}}
    {{{body}}}

    {{!-- 
    common
    <div class="rightBar"> </div>

    common 
    <footer> </footer>
    --}}
    
  </body>

</html>